@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="text-center my-4">
            <img src="images/logo-main.svg" alt="Darminsky Logo" style="height: 75px; width: auto;" />
        </div>
        <hr class="mx-5" />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
