@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="text-center my-4">
            <img src="images/logo-main.svg" alt="Darminsky Logo" style="height: 75px; width: auto;" />
        </div>
        <hr class="mx-5" />
        <article class="content px-4">
            @Body
        </article>

        <!-- Footer Section -->
        <footer class="footer mt-5">
            <hr class="mx-5" />
            <div class="footer-content text-center py-3">
                <p>&copy; 2024 Darminsky. All rights reserved.</p>
            </div>
        </footer>
    </main>
</div>

