@page "/"

<PageTitle>Home</PageTitle>

<!-- Hero Section -->
<div class="d-flex flex-column justify-content-center text-center">
    <h2>Engineering a Greener<br/><span style="color:#30D19F;">Tomorrow</span></h2>
    <p class="mx-5 my-3">We're dedicated to sustainable progress, merging cutting-edge technology with eco-friendly practices for a better future.</p>
    <span><button type="button" class="btn btn-primary">Get Started</button></span>

    <video controls>
        <source src="videos/earth-spinning.mp4" type="video/mp4" />
    </video> 
</div>

<!-- Our Services -->
<div class="container text-center my-5">
    <div class="row">
        <span class="col-6"><img src="images/Services-Image.png" class="img-fluid" /></span>
        <div class="col-6 d-flex flex-column justify-content-center text-center">
            <h5>OUR SERVICES</h5>
            <h3>We blend engineering, digital solutions, and eco-friendly practices to create lasting impact.</h3>
            <p>Our team employs cutting-edge technology and sustainable methods to deliver customized web and engineering solutions. From intuitive designs to environmentally-conscious systems, we’re committed to building a better, greener future for all.</p>
            <span><button type="button" class="btn btn-primary">Get Started</button></span>
        </div>
    </div>
</div>

<!-- Featured Projects -->
<div class="d-flex flex-column justify-content-center text-center my-5 flex-wrap">
    <h5>WHAT WE DO</h5>
    <h3>Featured Projects</h3>
    <div class="d-flex justify-content-center text-center gap-4">
        <div class="card">
            <img class="card-img-top" src="images/EvryHub.webp" style="height: 190px;"/>
            <div class="card-body">
                <h4 class="card-title">EvryHub</h4>
                <p class="card-text">EvryHub is our vision of a truly smart home, where devices don't just connect they collaborate. This project brings together automation, energy efficiency, and intuitive design to create a home ecosystem that adapts to your lifestyle and minimizes environmental impact. With EvryHub, you're in control of a smarter, greener, and more connected living space.</p>
            </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" src="images/Pathwaze.webp" style="height: 190px;" />
            <div class="card-body">
                <h4 class="card-title">Pathwaze</h4>
                <p class="card-text">Pathwaze is a web platform designed to bridge the gap between consumers and transparent sourcing. By scanning a product's QR code, users can trace the origins of ingredients, materials, and even labor practices. Starting with food, Pathwaze aims to expand across industries, promoting informed decisions and supporting ethical and sustainable choices in everyday shopping.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="images/TOY.webp" style="height: 190px;" />
            <div class="card-body">
                <h4 class="card-title">TOY (Thinking of You)</h4>
                <p class="card-text">TOY is a project designed to keep loved ones close, no matter the distance. Using an ESP32, LED, and AWS IoT, TOY lets you send a small “thinking of you” signal to a paired device with just a button press. Originally a fun experiment with interactive patterns, TOY is now a simplified, intimate way to let someone know you're on their mind, making long-distance relationships feel a bit closer.</p>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="d-flex flex-column justify-content-center text-center my-5">
    <h5>CONTACT FORM</h5>
    <h3>Ready to work together?</h3>
    <form class="container">
        <div class="row my-4">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Name" aria-label="Name">
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Email" aria-label="Email">
            </div>
        </div>
        
        <div class="row my-2">
            <div class="col-12">
                <textarea class="form-control" placeholder="Message" aria-label="Message" rows="5"></textarea>
            </div>
        </div>
        
        <span><button type="button" class="btn btn-primary my-2">Submit</button></span>
    </form>
</div>

<div class="row">
  
</div>
